@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }
body{font-family: "Poppins", serif; font-style: normal;font-size: 16px;line-height: 25px;}
h2 { font-size: 20px; line-height: 30px; }
h3 { font-size: 20px; line-height: 30px; font-weight: 500; }
.dashboard { display: flex; min-height: 100vh; height: 100%; }
.sidebar { width: 21%; background-color: #EEEEEE; padding: 20px 2%; }
.dashboard-info { width: 100%; position: relative; padding-bottom: 150px; }
.dashboard ul { list-style: none; }
.dashboard ul.menu li { background-color: transparent; margin-bottom: 5px; padding: 7px 15px; border-radius: 10px; }
.dashboard ul.menu li.active { background-color: #222222; }
.dashboard ul.menu li.active>a { color: #fff; }
.dashboard ul.menu li.active a svg * { fill: #fff; }
ul.menu li a { display: flex; align-items: center;text-decoration: none; color: #222222; }
ul.menu li a svg { margin-right: 15px; }
.sidebar >a { text-decoration: none; font-size: 25px; display: block; margin-bottom: 20px; }
.accounts { display: flex; align-items: center; gap: 20px; }


.dashboard-header { display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 20px; padding: 20px 2%; }
.heading-wr { display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px; padding: 0 2%; position: relative; }
.btn { background-color: #EEEEEE; padding: 10px 20px; border-radius: 5px; }
a#customize-btn { display: flex; align-items: center; cursor: pointer; }
a#customize-btn svg { margin-right: 15px; }
.columns { display: none; position: absolute; top: 60px; right: 2%; background-color: #fff; left: 0; width: 300px; margin: 0 0 0 auto; border-radius: 10px; box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); padding: 20px 0; z-index: 1; }
ul#columns li { padding: 10px 15px; border-top: 1px solid #E9E9E9; font-size: 14px; line-height: 20px; }
.columns h5 { font-size: 16px; line-height: 25px; font-weight: 400; padding: 0 15px; margin-bottom: 15px; }
ul#columns li:last-child { border-bottom: 1px solid #E9E9E9; margin-bottom: 20px; }
a#done-button { padding: 5px 10px; margin: 0 15px; font-size: 14px; background-color: transparent; border: 1px solid rgba(34, 34, 34, 0.1); cursor: pointer; }
.table { border: 1px solid #eeeeee; border-radius: 10px; overflow: hidden; margin: 0 2%; }
thead { border-bottom: 1px solid #eeeeee; background-color: #EBEBEB; }
#table-header th { padding: 10px; font-size: 16px; line-height: 25px; }
#table-body tr { border-bottom: 1px solid #ebebeb; }
#table-body td { padding: 15px 10px; font-size: 14px; line-height: 20px; }
table { border-collapse: collapse; width: 100%; } 
td, th { text-align: left; padding: 8px; }
tbody#table-body button { background-color: transparent; border: none; outline: none; cursor: pointer; }
.detail-box { border-top: 1px solid #ccc; padding: 20px 2%; }	
.detail-box h3 { margin-bottom: 15px; }
.detail-box b { font-weight: 600; }
.utilies_feature h3 { text-decoration: underline; }
.utilies_feature .info h4 { font-weight: 500; font-size: 14px; line-height: 20px; margin-bottom: 10px; }
.utilies_feature .info ul li { font-size: 13px; line-height: 20px; position: relative; padding-left: 10px; margin-bottom: 5px; }
.utilies_feature .info ul li::before { position: absolute; content: ''; background-color: #000; width: 5px; height: 5px; left: 0; top: 7px; border-radius: 50%; }
.detail-box .box { display: flex; flex-wrap: wrap; justify-content: left; gap: 15px; }
.data-box { width: calc(25% - 30px); }
.data-wr>p { border: 1px solid #ccc; padding: 5px; border-radius: 5px; background-color: #ccc; }
.media_release .box { gap: 5px; }
.media_release .box .data-box { width: 100%; }
.contact_information .box { display: block; }
.agreements_block .box { display: block; margin-bottom: 15px; }
.agreements_block .box h4 { margin-bottom: 15px; }
.agreements_block .box .data-box { width: 100%; }
.agreements_block .box .data-box a { display: inline-block; vertical-align: middle; }
.agreements_block .box .data-box a svg { width: 20px; height: 20px; }
.footer { padding: 0 2%; height: 100px; display: flex; align-items: center; justify-content: center; border-top: 1px solid #D3D3D3; margin-top: 30px; }
.photos-wr, .videos-wr { display: flex; gap: 15px; flex-wrap: wrap; }
.photos-wr>.img-box,.videos-wr>.video-box { padding: 0; width: calc(90% / 5); }
.photos-wr>.img-box>img,.videos-wr>.video-box>img { max-width: 100%; height: 100%; object-fit: contain; background: #fff; min-height: 150px; }



.rangeSlider { appearance: none; width: 100%; height: 15px; background: #fff; /* Unfilled portion */ border-radius: 50px; outline: none; }
.rangeSlider::-webkit-slider-thumb { appearance: none; width: 20px; height: 15px; background: #000; border-radius: 10px 10px 10px 10px; cursor: pointer; }
.rangeSlider::-webkit-slider-runnable-track { background: linear-gradient(to right, #000 var(--fill), #fff var(--fill)); border-radius: 50px; }
.rangeSlider::-moz-range-track { background: linear-gradient(to right, #000 var(--fill), #fff var(--fill)); border-radius: 50px; }
 .total-info { padding: 0 2%; }       
.total-boxes-wr { display: flex; gap: 20px; justify-content: stretch; margin-bottom: 30px; }
.total-boxes-wr .total-box { width: calc(31% - 40px); background-color: #EBEBEB; padding: 10px 20px; border-radius: 10px; }
.total-boxes-wr .total-box .numbers { display: flex; align-items: center; margin-bottom: 10px; }
.icon { width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; background-color: #222222; border-radius: 10px; margin-right: 15px; }
.info span,.range label { font-size: 14px; line-height: 20px; display: block;  }
.info h5 { color: #222222; font-size: 30px; line-height: 40px; }